<a href="https://colab.research.google.com/github/Asuskf/introduction_dataScience_exercises/blob/main/Chapter1/chapter1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Books:



*   **Book1** = [Data Science from Scratch SECOND EDITION First Principles with Python by Joel Gru](https://www.amazon.es/Data-Science-Scratch-Principles-Python/dp/1492041130?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=data+science&qid=1624268665&sr=8-8&linkCode=sl1&tag=oscarfmdc01-21&linkId=b701f61cbe8ee01459bd2b91d1b5ba33&language=es_ES&ref_=as_li_ss_tl)

*   **Book2** = [Introducing Data Science Big data, machine learning, and more, using Python by Davy Cielen, Arno D. B. Meysman](https://www.amazon.com/-/es/Davy-Cielen/dp/1633430030)

## Book1 - exercise 1

In [14]:
users = [
{ "id": 0, "name": "Hero" },
{ "id": 1, "name": "Dunn" },
{ "id": 2, "name": "Sue" },
{ "id": 3, "name": "Chi" },
{ "id": 4, "name": "Thor" },
{ "id": 5, "name": "Clive" },
{ "id": 6, "name": "Hicks" },
{ "id": 7, "name": "Devin" },
{ "id": 8, "name": "Kate" },
{ "id": 9, "name": "Klein" }
]

#Communication between users
friendship_pairs = [(0, 1), (0, 2), (1, 2), (1, 3), (2, 3), (3, 4),
(4, 5), (5, 6), (5, 7), (6, 8), (7, 8), (8, 9)]

In [15]:
friendships = {user["id"]: [] for user in users}
for i, j in friendship_pairs:
    friendships[i].append(j) # Add j as a friend of user i
    friendships[j].append(i) # Add i as a friend of user j

In [29]:
#What’s the average number of connections?
#Book solution
## We find the total number of connections, by summing up the lengths of all the friends lists:
def number_of_friends(user):
    """How many friends does _user_ have?"""
    user_id = user["id"]
    friend_ids = friendships[user_id]
    return len(friend_ids)

total_connections = sum(number_of_friends(user) for user in users)

In [32]:
#And then we just divide by the number of users:
num_users = len(users) # length of the users list
avg_connections = total_connections / num_users

In [39]:
#My solution
#And then we just divide by the number of users:
num_users = len(users) # length of the users list
sum(len(friendships[user]) for user in friendships) #/ num_users

24

In [31]:
#Verification
total_connections == sum(len(friendships[user]) for user in friendships)

True

In [99]:
#Order them from "most friends ”to“ less friends ”:
# Create a list (user_id, number_of_friends).
num_friends_by_id = [(user["id"], number_of_friends(user)) for user in users]

In [100]:
#My solution
[(user, len(friendships[user])) for user in friendships]

[(0, 2),
 (1, 3),
 (2, 3),
 (3, 3),
 (4, 2),
 (5, 3),
 (6, 2),
 (7, 2),
 (8, 3),
 (9, 1)]

In [102]:
#Verification
num_friends_by_id == [(user, len(friendships[user])) for user in friendships]

True

In [91]:
#Book solution
num_friends_by_id.sort(# Sort the list
    key=lambda id_and_friends: id_and_friends[1],# by num_friends
    reverse=True)# largest to smallest

In [92]:
num_friends_by_id

[(1, 3),
 (2, 3),
 (3, 3),
 (5, 3),
 (8, 3),
 (0, 2),
 (4, 2),
 (6, 2),
 (7, 2),
 (9, 1)]